[Desktop Entry]
Categories={app.categories}
Type=Application
Encoding=UTF-8
Name={app.name}
Comment={app.desc}
Exec={app.launcher}
Icon={app.icon}
Terminal=false
Path={app.dir}